* {
  margin: 0;
}

body {
  font-family: Optima, Helvetica, sans-serif;
  color: rgb(189, 157, 81);
  background-color: rgb(2, 27, 28);
}

#id-card {
  display: flex;
  flex-direction: row;
  width: 500px;
  border: 3px solid rgb(189, 157, 81);
}

#photo {
  width: 125px;
  height: auto;
  border: 1px solid rgb(189, 157, 81)
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#terms-money {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#skills {
  font-size: smaller;
}

#items {
  font-size: smaller;
}